.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sub-container {
    border-radius: 10px;
    height: auto;
    width: 400px;
    background-color: rgba(216, 216, 216, 0.3);
    padding: 20px;
}
